# ? valgrind
vgcore.*

# ? obj
*.o

# ? lib
*.a

# ? executable
*.out
unit_tests
plazza

# ? coverage
*.gcda
*.gcno
*.gcov

# ? tmp
*~
\#*#
.cache
log.bin
reception.log

# ? vscode
.vscode/

# ? compilation database
compile_commands.json
